/* Universal style*/ 
html {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header style*/
.header {
  height: 75px;
  padding: 25px;
  background-color: #BF311A;
}

.header h1 {
  float: left;
  margin-top: 5px;
  color: #F2F2F2;
  font-size: 36px;
}

.header ul {
  float: right;
}

.header li {
  display: inline-block;
  margin-right: 25px;
  background-color: #F2F2F2;  
  border-radius: 5px;
}

.header a {
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  text-decoration: none;
  color: #BF311A;
}

.header a:hover {
  color: #992715;
  background-color: #E5E5E5;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
  .header h1 {
    /*display: none;*/
    font-size: 1.5em;
  }
  .header li {
    margin-right: 10px;
  }
  .header a {
    width: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .header h1 {
    display: none;
  }
  .header ul {
    float: none;
  }
  .header a {
    width: 75px;
  }
}

@media only screen and (max-width: 402px) {
  .header {
    display: none;
  }
}

/* Body style*/
body { 
  place-items: center;
  height: 100vh;
  background: #F2F2F2;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 347px;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  background: #171614;
  border-radius: .8em;
  color: #858585;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.card:hover {
  color: #FFF;
}

.container {
  margin: 50px auto;
  display: grid;
  place-items: center;
  position: relative;
  width: 255px;
  height: 355px;
  border-radius: 1em;
  background: linear-gradient(50deg, #cc0000, #919191);
  overflow: hidden; /* Remove for positioning */
}

.container::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 100px;
  top: -50px;
  right: 100px;
  transition: 1.9s;
  background: linear-gradient(50deg, #ff0000, #f8f8f8);
  transform: rotate(-45deg)
}

.container:hover::before {
  animation: cardBefore 5s;
  /*animation-fill-mode: forwards === Stop on last frame */
  animation-iteration-count: infinite;
}

@keyframes cardBefore {
  100% {
      transform: rotate(-45deg) translate(0, 550px);
  }
}
